@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lusitana:wght@400;700&family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* test slal mpske bruges  */
.parallelogram {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  background: #555;
}

/* skal nok være mere spesifikt */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

label:has(input[type="checkbox"]:checked) {
  background: black;
  color: #fff;
}

/* Styling til checked state med Tailwind */
/* label:has(input[type="checkbox"]:checked) {
  background: #000; 
  color: white;
} */
