.menu {
  height: 100svh;
  width: 100svw;
  /* background: oklch(67% 0.2901 354.71); */
  background-color: #3374f2;
  border-radius: 50%;
  position: relative;
}

.menuBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 500;
}
